# Note: data containers are used here mainly for developing with
# MacOS. Docker performance is too slow to run rails when the gems
# and/or database is stored on host-mounted volumes.
#
# Create data volumes like this:
# docker volume create --name=proposals_data --label proposals_database
#
# docker volume create --name=proposals_cache --label proposals_cache
#
# Be sure to update all of the usernames, passwords, and keys with secure ones!
# Generate secure strings using:
# < /dev/urandom LC_CTYPE=C tr -dc _A-Z-a-z-0-9 | head -c${1:-64};echo


version: '3.8'
services:
  db:
    image: postgres:13.1
    container_name: proposals_db
    volumes:
      - ./db/pg-init:/docker-entrypoint-initdb.d
      - proposals_data:/var/lib/postgresql/data
      #- ./db/backups:/var/backups
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=zzzzzzzzzzzzzzzz
      - PSQL_TRUST_LOCALNET=true
      - DB_PORT=5433
      - DB_NAME=proposals_production,proposals_development,proposals_test
      - DB_USER=propuser
      - DB_PASS=yyyyyyyyyyyyyyy

  redis:
    image: 'redis:6.2.6'
    container_name: proposals_redis
    command: redis-server
    volumes:
      - redis_data:/data

  web:
    build: .
    container_name: proposals
    command: /sbin/entrypoint.sh
    ports:
      - '3000:3000'
    volumes:
      - ./:/home/app/proposals
      - ./entrypoint.sh:/sbin/entrypoint.sh
      - proposals_vendor_cache:/home/app/proposals/vendor/cache
      - proposals_node_cache:/home/app/proposals/node_modules
    links:
      - db
      - redis
    environment:
      - DB_USER=propuser
      - DB_PASS=yyyyyyyyyyyyyyy
      - RAILS_ENV=development
      - YARN_ENV=development
      - RAILS_SERVE_STATIC_FILES=true
      # If you are restoring from a backup these values must match the 
      # original otherwise password hashes will mismatch and need resets
      - SECRET_KEY_BASE=
      - SECRET_TOKEN=
      - DEVISE_SECRET_KEY=
      - DEVISE_PEPPER=
      - DEVISE_EMAIL=webmaster@example.com
      - APPLICATION_HOST=localhost
      - APPLICATION_PROTOCOL=http
      - ROLLBAR_ENV=development
      - ROLLBAR_TOKEN=12345
      - EMAIL_SERVER=mail.example.com
      - EMAIL_PORT=587
      - EMAIL_STARTTLS=true
      - WEBMASTER_EMAIL=webmaster@example.com
      - BIRS_COORD='BIRS Program Coordinator'
      - BIRS_EMAIL=birs@example.com
      - CMO_COORD='CMO Program Coordinator'
      - CMO_EMAIL=cmo@example.com
      - IASM_COORD='IASM Program Coordinator'
      - IASM_EMAIL=iasm@example.com
      - UBCO_COORD='UBCO Program Coordinator'
      - UBCO_EMAIL=ubco@example.com
      - EDITFLOW_API_TOKEN=xxxxxxxxxxx
      - EDITFLOW_API_URL=xxxxxxxxxxx
      - REDIS_URL='redis://localhost:port/0'
      - HMC_ACCESS=123
      - HMC_SERVER=hmc_host
      - HMC_PORT=2000
      - SCHEDULE_API_KEY=xxxxxxxxxxx
      - WORKSHOPS_API_URL=
      - WORKSHOPS_API_KEY=


volumes:
  pgdata:
    labels:
      pgdata: ""
  vendor_cache:
    labels:
      vendor_cache: ""
  node_cache:
    labels:
      node_cache: ""
  redis_data:
    labels:
      redis_data: ""
