<div class="modal fade" id="email-template" tabindex="-1" aria-labelledby="email-templateLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Email Templates</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="approve_decline_proposals">
        <div class="modal-body text-justify" style="text-align: justify;" >
          <div class="mb-3">
            <div class="mb-3">
              <label>CC</label>
              <input type="text" name="cc_email" class="form-control">
              <small>This text field supports a list of cc emails i.e. birs@example.com, noreply@example.com..</small>
            </div>
            <div class="mb-3">
              <label>BCC</label>
              <input type="text" name="bcc_email" class="form-control" value="<%= current_user.email %>">
              <small>This text field supports a list of bcc emails i.e. birs@example.com, noreply@example.com..</small>
            </div>
            <div class="mb-3">
              <label class="form-label">Subject</label>
              <input type="text" name="subject" class="form-control w-50" id="birs_email_subject" required="true">
            </div>
            <div class="mb-3">
              <label class='form-label required'>Template</label>
              <%= select_tag :templates, options_for_select([]), class: 'form-select w-25', data: {'action': 'click->submitted-proposals#emailTemplate', 'submitted-proposals-target': 'templates'}, required: true %>
            </div>
            <div class="mb-3">
              <p>Attachments</p>
              <input type="file" name="files" multiple="true">
            </div>
            <div>
              <label class="form-label">Body</label>
              <textarea class="form-control tinymce" name="body" required="true" id="birs_email_body"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button data-action="click->submitted-proposals#sendEmails" class="btn btn-secondary">Send Email</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
