<div class="modal fade" id="table-window" tabindex="-1" aria-labelledby="table-windowLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Table</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-justify" style="text-align: justify;">
        <div class="mb-3">
          <h4> Do you want? </h4>
        </div>
        <div>
          <input type="radio" name="toc" data-submitted-proposals-target="toc">
          <label>Table of content</label>
        </div>
        <div>
          <input type="radio" name="toc" data-submitted-proposals-target="ntoc">
          <label>No-Table of content</label>
        </div>
        <span id="proposals" hidden="true"></span>
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary my-2" data-action="click->submitted-proposals#booklet"> Ok</a>
        <a target="_blank" hidden="true" id="booklet" href="<%= "/submitted_proposals/download_booklet.pdf" %>">Download Booklet</a>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
