<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @person&.fullname %>:</p>
    <p><%= raw @body %> </p>
  </body>
</html>
  
