<p>Dear <%= @lead_organizer.firstname %>,</p><br>
<p>A comment has been added to your proposal. See the feedback section for details. <strong><%= @proposal&.title%></strong></p><br>
<p>Feedback: <%= @feedback.content %></p>
<p>Reply: <%= @feedback.reply %></p>
