<p>Dear <%= @lead_organizer.firstname %>,</p><br>
<p>A reply is added on your feedback against your proposal <strong><%= @proposal&.title%></strong></p><br>
<p>Feedback: <%= @feedback.content %></p>
<p>Reply: <%= @feedback.reply %></p>
