<div class="modal fade" id="email-preview" tabindex="-1" aria-labelledby="email-previewLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><span id="subject"></span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="email_preview">
        <div class="modal-body text-justify" style="text-align: justify;">
          <p>To: [invited person's email]</p>
          <p>Cc: <%= @proposal.lead_organizer.email %></p>
          <p>Dear [Firstname Lastname],</p>
          <textarea class="form-control" rows="10" name="body" id="body">
          </textarea>
        </div>
        <div class="modal-footer" data-controller="nested-invites">
          <button data-action="click->nested-invites#sendInvite" data-id="<%= @proposal.id %>" class="btn btn-secondary" data-organizer="<%= no_of_participants(@proposal.id, 'Organizer').last&.id %>"
          data-participant="<%= no_of_participants(@proposal.id, 'Participant').last&.id %>">Send Invitation</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
