<main class="content">
  <div class="container-fluid">
    <div class="header">
      <h1 class="header-title">
        Proposals
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Dashboard", dashboards_path %> </a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= link_to "Proposals", proposals_path %></li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3>Your Proposals</h3>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Code</th>
                <th>Proposal Title</th>
                <th>Proposal Type</th>
                <th>Role</th>
                <th>Preferred Location</th>
                <th>Status</th>
                <th width="125">Updated</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% if @proposals.empty? %>
                <tr><td><h3>No proposal applications found.</h3></td></tr>
              <% else %>
                <%= render 'proposal_list', proposals: @proposals %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
